<h3>Products</h3>

<section class="row">
    @if(_productService != null)
    {
        foreach (var product in _productService.Products)
        {
            <div class="col-md-3 mb-4">
                <a 
                    href="product/@product.Id"
                    alt=@product.Title>
                    <img 
                        class="media-image w-100 mb-4" 
                        src=@product.ImageUrl 
                        alt=@product.Title
                    />
                    <h2>@product.Title</h2>
                    <p>£@product.Price</p>
                </a>
            </div>
        }
    }
</section>